.v-nested-table {
    font-size: 1.3rem;

    .v-nested-table__wrapper {
        table {
            border: 1px solid #dedede;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
            width: 100%;
            
            thead {
                tr {
                    background-color: #303030;

                    th {
                        border: 1px solid #303030;
                        color: white;
                        font-weight: 500;
                        padding: 6px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: 1px solid #DEDEDE;
                        padding: 6px;
                    }
                }
            }
        }

        .text-start {
            text-align: start;
        }
    }
}